* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body {
  background-color: #ffffff;
  font-family: "Noto Serif JP","Lato","san-serif";
  }
p {
  margin: 0;
  }
img {
  width: 100%;
  display: block;
  }

:root {
  --font-color: #333333;
  --font-color-white: #ffffff;
  --button-background-color: #BAA8A2;
}

/* ヘッダー */ 
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 32px;
  margin: 0 auto;
}
.shopping-cart svg {
  width: 26px;
  height: 26px;
}

/* ファーストビュー */
.fv-section {
  position: relative;
}
.fv-body {
  margin: 130px;
  z-index: 1;
}
.fv-title {
  text-align: left;
  letter-spacing: 0.7rem;
  line-height: 6em;
  margin: 20px 10px;
}
.main-message {
  font-size: clamp(24px, 5vw, 40px);
  color: var(--font-color);
  text-shadow: #f5f5f5 1px 0 5px;
}

.view-item {
  padding: 10px 126px;
  margin: 60px 20px;
  color: var(--font-color-white);
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  background-color: var(--button-background-color);
}
.fv-img {
  position: absolute;
  top: 0;
  left: 30%;

  aspect-ratio: 903/689;
}
.fv-img img {
  height: auto;
  z-index: 2;
}
.fv-inner {
  display: flex;
  max-width: 1080px;
}

.section-title {
  font-family: "Lato";
  font-size: 32px;
  color: var(--font-color);
  letter-spacing: 0.42rem;
  text-align: center;
}
.feature-section {
  margin-top: 140px;
}

.section-text {
  margin: 20px 0 80px 0;
  font-size: 18px;
  color: var(--font-color);
  letter-spacing: 0.05rem;
  text-align: center;
}
.feature-section-flex {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  margin: 0 auto;
  max-width: 1080px;
}
.feature-text {
  margin: 106px 0;
  line-height: 2rem;
}
.feature-text > div {
  line-height: 10em;
}
.under-feature-img {
  margin: 155px 0 160px 0;
}
.feature-section-3clum {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin: 0 auto;
  max-width: 1080px;
}
.line-up-inner {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  max-width: 1000px;
}

@media screen and (max-width: 768px) {
  .main-message {
  line-height: 2em;
  }
  .fv-body {
    height: auto;
    margin-top: 30px;
  }
  .fv-img {
    top: 0;
    left: auto;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .fv-img img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .view-item {
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    margin: 40px auto 0;
  }
  .view-item br {
    display: none;
  }
  .view-item p {
    font-size: 16px;
    
  }

  .feature-section-flex {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
  .feature-section-3clum {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.line-up-inner {
  display: flex;
  flex-direction: column;
}
}