/* PC、スマホ共通スタイル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Japanese", "源ノ角ゴシック","Noto Sans JP";
  background-color: #ffffff;
}
p {
  margin: 0;
}
/* PC用ヘッダー */
header {
  background-color: #ECEFF4;
  width: 100%;
  height: 70px;
}
.header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 36px;
  margin: 0px auto;
  max-width: 1080px;
}
.header-inner > a {
  margin: 24px 0;
}
/* 登録・ログインボタン */
.continue-button {
  width: 147px;
  height: 42px;
  margin: 14px 0;
  background-color: #4c566a;
  border: none;
  border-radius: 6px;
  color: #ECEFF4;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
main {
  width: 100%;
  height: 529px;
  background-color: #ECEFF4;
}
.main-section {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  padding: 0 36px;
  max-width: 1080px;
  gap: 30px;
}
.main-message {
  color: #4c566a;
  font-size: 38px;
  font-weight: bold;
  text-align: left;
  margin-top: 133px;
}
.main-list {
  color: #4c566a;
  list-style: none;
  margin: 20px 0;
}
.main-list > li {
  position: relative;
  padding-left: 15px;
  line-height: 2;
}
.main-list > li:before {
  content: "";
  position: absolute;
  top: .5em;
  left: 0;
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
  width: 5px;
  height: 10px;
  border-right: 3px solid #5e81ac;
  border-bottom: 3px solid #5e81ac;
}
.continue-button i {
position: absolute;
right: 10px;
top: 50%;
transform: translateY(-50%);
font-size: 16px;
}
.main-wave {
  width: 100%;
}
.second-section {
  background-color: #ffffff;
  width: 100%;
  height: 471px;
}
.second-section-title {
  font-size: 32px;
  font-weight: bold;
  color: #4c566a;
  text-align: center;
  margin-top: 80px;
}
.second-section-inner {
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
  padding: 0 36px;
  max-width: 1080px;
}
.second-section-contents  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  gap: 24px;
}
.second-subtitle {
  color: #4c566a;
  font-size: 22px;
  font-weight: bold;
  margin-top: 16px;
}
.second-item {
  color: #4c566a;
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
}
.third-section {
  background-color: #2D3440;
  width: 100%;
  margin: 0 auto;
  padding: 0 36px;
  color: #ECEFF4;
}
.third-section-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #ECEFF4;
}
.third-contents-flex {
  display: flex;
  align-items: center;
  margin: 80px auto 0 auto;
  max-width: 1080px;
  gap: 50px
}
.third-contents-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 80px auto 0 auto;
  max-width: 1080px;
  gap: 50px;
}
.third-contents h3 {
  font-size: 22px;
  font-weight: bold;
}
.third-contents p {
  font-size: 16px;
  margin-top: 16px;
}




