/* PC、スマホ共通スタイル */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Japanese", "源ノ角ゴシック","Noto Sans JP";
  background-color: #ffffff;
}
p {
  margin: 0;
}
/* PC用ヘッダー */
.header {
  background-color: #ECEFF4;
}
.header-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 36px;
  margin: 0px auto;
  max-width: 1080px;
}
.header-inner > a {
  margin: 24px 0;
}
/* 登録・ログインボタン */
.continue-button {
  width: 147px;
  margin: 14px 0;
  padding: 12px 16px;
  background-color: #4c566a;
  border: none;
  border-radius: 6px;
  color: #ECEFF4;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
.continue-button i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  }
  /* メインセクション */
.fv-section {
  background-color: #ECEFF4;
}
.fv-visual {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 36px;
}
.fv-message {
  color: #4c566a;
  font-size: 38px;
  font-weight: bold;
  text-align: left;
  margin-top: 133px;
}
.fv-list {
  color: #4c566a;
  list-style: none;
  margin: 20px 0;
}
.fv-list > li {
  position: relative;
  padding-left: 15px;
  line-height: 2;
}
.fv-list > li:before {
  content: "";
  position: absolute;
  top: .5em;
  left: 0;
  -webkit-transform: rotate(50deg);
  -ms-transform: rotate(50deg);
  transform: rotate(50deg);
  width: 5px;
  height: 10px;
  border-right: 3px solid #5e81ac;
  border-bottom: 3px solid #5e81ac;
}
.wave-img-top {
  width: 100%;
}
.features-section {
  background-color: #ffffff;
  width: 100%;
}
.features-section-title {
  font-size: 32px;
  font-weight: bold;
  color: #4c566a;
  text-align: center;
  margin-top: 80px;
}
.features-section-inner {
  display: flex;
  justify-content: space-between;
  margin: 80px auto;
  padding: 0 36px;
  max-width: 1080px;
}
.features-section-contents  {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  gap: 24px;
}
.features-subtitle {
  color: #4c566a;
  font-size: 22px;
  font-weight: bold;
  margin-top: 16px;
}
.features-text {
  color: #4c566a;
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
}
.wave-img-center {
  display: block;
  width: 100%;
  margin-bottom: -2px;
}
.function-section {
  background-color: #2D3440;
  width: 100%;
  margin: 0 auto;
  padding: 0 36px;
  color: #ECEFF4;
}
.function-section-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #ECEFF4;
}
.function-contents-flex {
  position: relative;
  display: flex;
  align-items: center;
  margin: 80px auto 0 auto;
  max-width: 1080px;
  gap: 50px
}
.function-contents-reverse {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 80px auto 0 auto;
  max-width: 1080px;
  gap: 50px;
}
.function-subtitle {
  font-size: 22px;
  font-weight: bold;
}
.function-text {
  margin-top: 16px;
  font-size: 16px;
}
.wave-img-bottom {
  display: block;
  width: 100%;
  margin-top: -2px;
}

.footer {
  padding: 0 36px;
  background-color: #ffffff;
}
.footer-nav {
  color: #4c566a;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 64px 0px 24px;
}
.footer-nav p {
  color: #4c566a;
  gap: 10px;
}
.nav-copyright {
  display: flex;
  justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
}
.copyright {
  text-align: right;
  color: #4c566a;
  margin-top: 64px;
}

@media screen and (max-width: 767px) {
  body {
    min-width: 580px;
    margin: 0 auto;
  }
  .fv-visual {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 20px;
  }
  .fv-img  > img {
    width: 100vw;
    padding: 0 20px;
  }
  .fv-message {
    font-size: 30px;
  }
  .fv-li > li {
    font-size: 16px;
  }
}